language: node_js
node_js: node
cache:
  directories:
  - /home/travis/.elm
  - node_modules
  - elm-stuff
branches:
  only:
  - master
install:
- npm install -g elm@0.19.0 uglify-js@3.4.7
- curl -OL http://dl.itch.ovh/butler/linux-amd64/head/butler
- chmod +x butler
script:
- "./scripts/deploy.sh"
notifications:
  email:
    recipients:
    - unsoundscapes@gmail.com
env:
  global:
    secure: ktxWex8ykLi2e1oUxrF+0WQ1HKoG0xGx3gTXYlE1QyXVDTO1TymhPBUIY92KxC9vNGZ3VBcNglg9+5jgos9nZE3qvoJ0IWzEY2UB31cn2OiQQfT41qltClJBNGn2sOR1AQ8FQgNYBLIkr3X/uvD/mkhtj3n1E2j03BZWkznpRtA6KY5pLqBK0rNOxTzfSGjsUooMaUq9hmApKDY5lK5Bu2XDpwoETmo0YdjMDr/R7gHeM7CflRJJVwROKA6lJERufSLcClD5bGlxelGGgWwag1xr/eskTVN4McxBz5Te9YEPITFsvdac4zuUgjqP8lb7mExv8UEBBRKxJCj+eCTCaoIWokWTgwJx7yogmS0DI4W+l8JC2It7KJO9l2JV3gIzTCSGpJk513l4TKam3nW2iOu8pNKeBLYQqvOj5u1CJ0yn3Q5fSpL6VoWESeTmVRoxubkfJsETl3IJreJdIFJSVd0WR10R3FB4CaKmv3IjhOF9QA8WZZJ8kblWjGU7/x6TFpjyBogF/LcjWWdHMav0u4M8V4C5DB9qz2GOKZz7tUGwTNkeC9zXQoOaeyz183vwwwn8DdBKiUVB2xyLg+yxW/+Stf3VKbTKmpnOHJIIOcpK+f5pqbEfZnfJW44BVLsKgtLu70Y0quKk1SaBYvKov+uD/SDDssoTeeidt0wtyB0=
